

/* header Section */

#header{
    background-image: url(../images/background/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* end of head section*/

/* services section */
#sevices{
    background-image: url(../images/background/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    padding-top: 160px;
    padding-bottom: 160px;
}
/* contact us */
#contactus{
    background-image: url(../images/background/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    color: white;
}

input[type = text]{
    width: 400px!important;
    background-color: rgba(0,0,0,0.1);

}
input[type = email]{
    background-color: rgba(0,0,0,0.1);

    width: 400px!important;
}
textarea{
    background-color: rgba(0,0,0,0.1);

}