

/* header Section */

#header{
    background-image: url(../images/background/h_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* end of head section*/

/* services section */
#sevices{
    background-image: url(../images/background/s_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    padding-top: 160px;
    padding-bottom: 160px;
}
/* contact us */
#contactus{
    background-image: url(../images/background/c_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
}